body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color:whitesmoke;
    color: #404040;
}
h1 {
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 5px auto 0 auto;
    font-family: "Sacramento", cursive;
}
.theme{
    position: relative;
    top:100px;
}
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    
}

.profile-img {
    height: 300px;
    width: 300px;
    border-radius: 60%;
    background-color: #66bfbf;
    border: 2px solid #086063;
    
  }
  
.top-container {
    background: linear-gradient(400deg,  #11999e,#e4f9f5, #ab76a8);
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    animation: gradient-animation 18s ease infinite;
    
    
} 
.pro{
    text-decoration: underline;
}
.design-text{
    color: #11999e;
}

.text-size{
    font-size: 18px;
}

h3{
    font-size: 15px;
}

.svg-img{
    border-radius: 20px;
    background-color:#086063;
   color: aliceblue;
}

#skills{
    background-color: #e4f9f5;
    border-radius: 30px;
    border: 2px solid #086063;
}

.skillBar p span{
    padding: 5px 10px;
    margin: 3px 5px;
    color: aliceblue;
    border-radius: 5px;
    background-color:#11999e;
}

.btn{
    border-radius: 10px;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
}

.btn:hover {
    background: #30e3cb;
    text-decoration: none;
    color: white;
} 


.bottom-container{ 
    background: linear-gradient(400deg,  #11999e, #a2d3d3, #ab76a8);
    padding: 50px 0 20px;
    color: #40514e;
    margin: auto;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    animation: gradient-animation 18s ease infinite;
}

a{
    color: #11999e;
    text-decoration: none;
    padding: 30px;
}
a:hover{
    color: white;
}


.copyright{
    color: white;
    padding: 20px;
}

.project{
    height: 250px;
    width: 300px;
    border-radius: 10px;
    
}
